<!doctype html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MI DIAMOND</title>
    <meta name="description" content="En şık takılar ve mücevherler.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/premium.css">
</head>
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center" style="background-color: #ffffff; z-index: 999999;">
            <div class="preloader-inner position-relative text-center">
                <div class="preloader-img">
                    <img src="/assets/img/logo/custom_logo_v2.png" alt="MI DIAMOND" style="max-width: 250px; height: auto; animation: logoPulse 1.2s ease-in-out infinite alternate;">
                </div>
            </div>
        </div>
    </div>
    <style>
        @keyframes logoPulse {
            0% {
                opacity: 0.6;
                transform: scale(0.96);
            }
            100% {
                opacity: 1;
                transform: scale(1.04);
            }
        }
    </style>
    <!-- Preloader Start-->
